:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --background-color-2: #f5f4fa;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --header-logo-color: #000000;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--header-logo-color);
}

.header-web {
  color: var(--accent-color);
}

.site-nav .link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .contact-nav .link {
  color: var(--title-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-color);
}

.order {
  background-color: var(--background-color);
}

.hero-title {
  color: var(--secondary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-container {
  background-color: var(--background-color);
  width: 1600px;
  height: 600px;
  text-align: center;
}

.hero-button {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-button:hover,
.hero-button:focus {
  color: var(--secondary-text-color);
}

.section-title {
  color: var(--primary-text-color);
}

.section-team {
  background-color: var(--background-color-2);
}

.footer-container {
  background-color: var(--background-color);
}

.contact-address {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.footer-contacts {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--contacts-text-color);
}

.footer-contacts .link:hover,
.footer-contacts .link:focus {
  color: var(--accent-color);
}

.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.footer-web {
  color: var(--accent-color);
}

/*Portfolio Buttons*/

.portfolio {
  color: var(--primary-text-color);
  background-color: var(--background-color-2);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.portfolio:hover,
.portfolio:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

/* .portfolio current {
  color: var(--accent-color);
} */

.portfolio-all:active {
  background-color: var(--accent-color);
}
